.header {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background-color: #004C93;
    position: fixed;
    z-index: 1;
    display: flex;
}

.header__name {
    width: 30%;
    text-align: center;
    align-self: center;
}

.header__list-wrapper {
    display: flex;
    flex-grow: 1;
}

.header__burger {
    display: none;
    width: 60px;
    height: 43px;
    background-image: url(../images/burger.svg);
}

.header__list {
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
}

.header__list-item {
    text-decoration: none;
    padding: 0 13px;
}

.header__list-item:hover {
    text-decoration: underline;
}

.about {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.content-block {
    display: flex;
}

.content-block__title-mod {

}

.about__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px 50px 0px 165px;
}

.about__description__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 500px;
}

.about__image {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 50px 165px 50px 50px;
}

.activity {
    display: flex;
    flex-direction: column;
}

.activity__list {
    display: flex;
}

.calculator {
    display: flex;
}

.challenges {
    display: flex;
}

.mood {
    display: flex;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background-color: #004C93;
    position: fixed;
    z-index: 1;
    display: flex;
}

.footer__name {
    display: flex;
    justify-content: center;
    width: 30%;
    text-align: center;
    align-self: center;
}

.footer__icon {
    width: 32px;
    height: 32px;
}

.footer__icon-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0 150px;
    text-align: right;
    align-self: center;
}

.footer__icon--vk {
    background-image: url(../images/vk.svg);
}

@media (max-width: 900px){
    .header__list {
        display: none;
    }
    .header__burger {
        display: flex;
    }
    .header__list-wrapper {
        justify-content: end;
        padding-right: 63px;
        align-self: center;
    }
    .about {
        flex-direction: column;
    }

    .about__image {
        align-self: center;
        padding: 50px 50px 50px 50px;
    }

    .about__description {
        align-self: center;
        padding: 50px 50px 0px 50px;
    }
}
