* {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}

.background__color:nth-child(odd) {
    background-color: #F3FBFF;
}

.header {
    height: 100px;
    background-color: #004C93;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}

.header__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__box__name {
    align-self: center;
}

.header__list {
    align-self: center;
}

.header__list-wrapper {
}

.header__list-item {
    margin-left: 25px;
    text-decoration: none;
}

.header__list-item:hover {
    text-decoration: underline;
}

.header__burger {
    display: none;
    width: 60px;
    height: 43px;
    background-image: url(../images/burger.svg);
}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.about__description {
    display: flex;
    flex-direction: column;
    width: auto;
}

.about__image {
    display: flex;
    justify-content: center;
    width: auto;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.listing__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.listing__box {
    border: 1px solid #004C93;
    width: 200px;
    height: 289px;
    border-radius: 4px;
}

.listing__box:nth-child(even) {
    margin-top: 130px;
}
.listing__box:nth-child(odd) {
    margin-bottom: 130px;
}

.activity__box__number {
    margin: 10px 25px -6px 12px;
    padding: 0;
}

.activity__box__content {
    margin: 0 25px 12px 12px;
}


.calculator {
    display: flex;
    flex-direction: column;
}

.calculator__input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
}

.calculator__field {
    height: 32px;
}

.calculator__button {
    display: block;
    width: 168px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #004C93;
    margin-top: 40px;
}

.challenges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.challenges__box__number {
    margin: 10px 25px 25px 12px;
    padding: 0;
    text-align: center;
}

.challenges__box__content {
    margin: 0 25px 12px 12px;
}

.mood {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mood__image {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
}

.footer {
    height: 100px;
    background-color: #004C93;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__icon-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: right;
    align-self: center;
}

.footer__icon {
    width: 32px;
    height: 32px;
}

.footer__icon--vk {
    background-image: url(../images/vk.svg);
}

@media (max-width: 1110px) {
    .content-block {
    ma
    }

    .header__list {
        display: none;
    }

    .header__burger {
        display: flex;
    }

    .about {
        flex-direction: column;
    }

    .listing__container {
        flex-direction: column;
        margin-top: 20px;
    }

    .listing__box {
        width: 565px;
        height: 200px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #004C93;
    }

    .listing__box:nth-child(even) {
        margin-top: 15px;
    }
    .listing__box:nth-child(odd) {
        margin-bottom: 0;
        margin-top: 15px;
    }

    .activity__box__number {
        width: 155px;
        height: 130px;
        flex-shrink: 0;
        margin-left: 35px;
    }

    .activity__box__content {
        width: 450px;
        height: 80px;
        margin-left: 120px;
        flex-shrink: 0;
    }

    .challenges__box__number {
        width: 65px;
        height: 55px;
        flex-shrink: 0;
        margin-left: 40px;
        margin-top: 30px;
    }

    .challenges__box__content {
        width: 430px;
        height: 55px;
        margin-left: 120px;
        flex-shrink: 0;
    }

    .header__burger:hover {

    }
}


