.header__text {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__text--name {
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__text {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-block__title {
    color: #004C93;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 25px;
}

.content-block__text {
    color: #004C93;
    font-family: Inter, serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    padding-top: 45px;
}

.activity__list__title {
    color: #004C93;
    font-family: Roboto, serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 192px */
    text-align: left;
}

.activity__list__text {
    color: #2E4674;
    font-family: Roboto, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}

.calculator__input__text {
    color: #000;
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.calculator__button__text {
    color: #FFF;
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.challenges__list__title {
    color: #004C93;
    font-family: Roboto, serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 120px */
    text-align: center;
}

.challenges__list__text {
    color: #2E4674;
    font-family: Roboto, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
